<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Table</title>
  <link rel="stylesheet" href="usertable.component.css">
</head>
<body>
<div class="container">
  <h1>User Information</h1>
  <table>
    <thead>
    <tr>
      <th>User ID</th>
      <th>User Name</th>
      <th>Email Address</th>
      <th>Registration Date</th>
      <th>Remove user</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>1</td>
      <td>John Doe</td>
      <td>johndoeexample.com</td>
      <td>2023-01-01</td>
      <td>x</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Jane Smith</td>
      <td>janesmithexample.com</td>
      <td>2023-02-15</td>
      <td>x</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Michael Brown</td>
      <td>michaelbrownexample.com</td>
      <td>2023-03-22</td>
      <td>x</td>
    </tr>
    <tr>
      <td>4</td>
      <td>Michael Burry</td>
      <td>michaelburryexample.com</td>
      <td>2023-01-01</td>
      <td>x</td>
    </tr>
    <tr>
      <td>5</td>
      <td>Mark Baum</td>
      <td>markbaumexample.com</td>
      <td>2023-01-02</td>
      <td>x</td>
    </tr>
    <tr>
      <td>6</td>
      <td>Jared Vennett</td>
      <td>jaredvennettexample.com</td>
      <td>2023-01-03</td>
      <td>x</td>
    </tr>
    <tr>
      <td>7</td>
      <td>Ben Rickert</td>
      <td>benrickertexample.com</td>
      <td>2023-01-04</td>
      <td>x</td>
    </tr>
    <tr>
      <td>8</td>
      <td>Charlie Geller</td>
      <td>charliegellerexample.com</td>
      <td>2023-01-05</td>
      <td>x</td>
    </tr>
    <tr>
      <td>9</td>
      <td>Jamie Shipley</td>
      <td>jamieshipleyexample.com</td>
      <td>2023-01-06</td>
      <td>x</td>
    </tr>
    <tr>
      <td>10</td>
      <td>Danny Moses</td>
      <td>dannymosesexample.com</td>
      <td>2023-01-07</td>
      <td>x</td>
    </tr>
    <tr>
      <td>11</td>
      <td>Vinny Daniel</td>
      <td>vinnydanielexample.com</td>
      <td>2023-01-08</td>
      <td>x</td>
    </tr>
    <tr>
      <td>12</td>
      <td>Chris</td>
      <td>chrisexample.com</td>
      <td>2023-01-09</td>
      <td>x</td>
    </tr>
    <tr>
      <td>13</td>
      <td>Porter Collins</td>
      <td>portercollinsexample.com</td>
      <td>2023-01-10</td>
      <td>x</td>
    </tr>
    <tr>
      <td>14</td>
      <td>Bobby</td>
      <td>bobbyexample.com</td>
      <td>2023-01-11</td>
      <td>x</td>
    </tr>
    <tr>
      <td>15</td>
      <td>Lawrence Fields</td>
      <td>lawrencefieldsexample.com</td>
      <td>2023-01-12</td>
      <td>x</td>
    </tr>
    <tr>
      <td>16</td>
      <td>Jake</td>
      <td>jakeexample.com</td>
      <td>2023-01-13</td>
      <td>x</td>
    </tr>
    <tr>
      <td>17</td>
      <td>David McCormick</td>
      <td>davidmccormickexample.com</td>
      <td>2023-01-14</td>
      <td>x</td>
    </tr>
    <tr>
      <td>18</td>
      <td>Christopher George</td>
      <td>christophergeorgeexample.com</td>
      <td>2023-01-15</td>
      <td>x</td>
    </tr>
    <tr>
      <td>19</td>
      <td>Garrett Griffin</td>
      <td>garrettgriffinexample.com</td>
      <td>2023-01-16</td>
      <td>x</td>
    </tr>
    <tr>
      <td>20</td>
      <td>Rafe</td>
      <td>rafeexample.com</td>
      <td>2023-01-17</td>
      <td>x</td>
    </tr>
    <tr>
      <td>21</td>
      <td>Morgan</td>
      <td>morganexample.com</td>
      <td>2023-01-18</td>
      <td>x</td>
    </tr>
    <tr>
      <td>22</td>
      <td>Lawrence</td>
      <td>lawrenceexample.com</td>
      <td>2023-01-19</td>
      <td>x</td>
    </tr>
    <tr>
      <td>23</td>
      <td>Michael</td>
      <td>michaelexample.com</td>
      <td>2023-01-20</td>
      <td>x</td>
    </tr>
    <tr>
      <td>24</td>
      <td>Donald</td>
      <td>donaldexample.com</td>
      <td>2023-01-21</td>
      <td>x</td>
    </tr>

    <!-- Add more rows as needed -->
    </tbody>
  </table>
</div>
<a href="/users" class="floating-button">Add Users</a>
</body>
</html>
