h1{
  text-align: center;
  font-family: Verdana;
}
h2{
  text-align: center;
  font-family: Verdana;
}
p{
  text-align: center;
  font-family: Verdana;
}

.container1 {
  width: 80%;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  padding-top: 0px;
  font-family: Verdana;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

thead {
  background-color: #04a96d;
  color: #fff;
}

thead th {
  padding: 10px;
  text-align: left;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

tbody td {
  padding: 10px;
  border: 1px solid #ddd;
}

tbody tr:hover {
  background-color: #f1f1f1;
}

show-map {
  display: flex;
  justify-content: center;
}
