<div class="wrapper">
	<div class="container">
        <img src="assets/97502_thumb-3863958565-removebg-preview.png" alt="Mendel" class="logo">
		<form class="form" action="#">

            <input type="text" [(ngModel)]="username" name="username" required>
      
  
            <input type="password" [(ngModel)]="password" name="password" required>

            <button type="button" class="btn" (click)="onLogin()" >Login</button>
		</form>
	</div>
	
	<ul class="bg-bubbles">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
</div>

