.container1 {
  width: 80%;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  padding-top: 0px;
  margin-top: 0px;
  font-family: Verdana;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

thead {
  background-color: #04a96d;
  color: #fff;
}

thead th {
  padding: 10px;
  text-align: left;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

tbody td {
  padding: 10px;
  border: 1px solid #ddd;
}

tbody tr:hover {
  background-color: #f1f1f1;
}

.date-selectors {
  display: flex;
  justify-content: center; /* Center the items horizontally */
  align-items: center; /* Center the items vertically */
  margin-bottom: 20px;
  gap: 15px;
}

.date-selectors label {
  font-size: 14px;
  font-weight: bold;
}

.date-selectors input[type="date"] {
  padding: 5px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.date-selectors button {
  padding: 5px 10px;
  font-size: 14px;
  color: #fff;
  background-color: #04a96d;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.date-selectors button:hover {
  background-color: #039256;
}

.floating-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #04a96d;
  color: #fff;
  padding: 15px 20px;
  text-align: center;
  border-radius: 15px;
  text-decoration: none;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  z-index: 1000;
  font-family: Verdana;
  cursor: pointer;
}

.floating-button:hover {
  background-color: #039256;
}

a:hover {
  cursor: pointer;
}
