<div>
  <div class="date-selectors">
    <label for="start-date">Start Date:</label>
    <input type="date" id="start-date" [(ngModel)]="startDateString" (ngModelChange)="setStartDate($event)">

    <label for="end-date">End Date:</label>
    <input type="date" id="end-date" [(ngModel)]="endDateString" (ngModelChange)="setEndDate($event)">

    <button (click)="updateWeatherData()">Update</button>
  </div>

<!--  downlaod button-->
  <div class="download-button">
    <button (click)="downloadCSV()">Download CSV</button>

  <div class="container1">
    <table>
      <thead>
      <tr>
        <th>Station ID</th>
        <th>Time</th>
        <th>Cloud cover</th>
        <th>Precipitation</th>
        <th>Temperature</th>
        <th>Wind speed</th>
        <th>Wind direction</th>
      </tr>
      </thead>
      <tbody>
      <ng-container *ngFor="let station of weatherData">
        <tr *ngFor="let hourData of station.hourlyData">
          <td>{{station.StationId}}</td>
          <td>{{hourData.date | date:'short'}}</td>
          <td>{{hourData.CLDC | number:'1.2-2'}}</td>
          <td>{{hourData.PRCP | number:'1.2-2'}}</td>
          <td>{{hourData.TEMP | number:'1.2-2'}}</td>
          <td>{{hourData.WDSP | number:'1.2-2'}}</td>
          <td>{{hourData.WNDDIR | number:'1.2-2'}}</td>
        </tr>
      </ng-container>
      </tbody>
    </table>
  </div>
</div>
